@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.blinker {
  font-family: "Blinker", sans-serif !important;
}

/* hamburger */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 16px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* hero border text */

.hero {
  position: relative;
}
.hero:before,
.hero:after,
.hero > :first-child:before,
.hero > :first-child:after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 50px;
  border-color: #fff;
  border-style: solid;
}
.hero:before {
  top: 0;
  left: 0;
  border-width: 3px 0 0 3px;
}
.hero:after {
  top: 0;
  right: 0;
  border-width: 3px 3px 0 0;
}
.hero > :first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 3px 3px 0;
}
.hero > :first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 3px 3px;
}

/* services border */

.serviceItem {
  position: relative;
}
.serviceItem:before,
.serviceItem:after,
.serviceItem > :first-child:before,
.serviceItem > :first-child:after {
  position: absolute;
  content: " ";
  width: 30px;
  height: 30px;
  border-color: #fff;
  border-style: solid;
}
.serviceItem:before {
  top: 0;
  left: 0;
  border-width: 1px 0 0 1px;
}
.serviceItem:after {
  top: 0;
  right: 0;
  border-width: 1px 1px 0 0;
}
.serviceItem > :first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 1px 1px 0;
}
.serviceItem > :first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 1px 1px;
}

.slide {
  padding: 0;
  margin: 0;
  transform: translateY(100%);
  opacity: 0;
  animation: slide-in-anim 0.5s ease-out forwards;
}

/* carousel styling */
.carousel .control-prev,
.control-next {
  background-color: #000 !important;
  opacity: 1;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  top: 45% !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .control-prev {
  left: 20px !important;
}
.carousel .control-next {
  right: 20px !important;
}

/* input styling */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #fff;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

@media only screen and (max-width: 600px) {
  .carousel .control-prev {
    display: none !important;
  }
  .carousel .control-next {
    display: none !important;
  }
}

@keyframes slide-in-anim {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  30% {
    opacity: 0;
    transform: translateY(30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.imageContainer {
  width: 100%;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.image > span {
  position: unset !important;
  display: none;
}
